{% extends "skeleton.twig" %}

{% block title %}Schválené příspěvky{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>KivWeb!</h1>
            <p>Tento web slouží jen jako demonstrace semestrální práce z předmětu KIV/WEB. Níže je seznam schválených příspěvků.</p>
        </div>
    </div>
    
    <div class="row">
    {% for post in posts %}
        
        <div class="col-md-4">
            <h2>{{ post.getTitle() }}</h2>
            <p><strong>{{ post.getAuthorName() }}</strong></p>
            <p>{{ post.getAbstract() }}</p>
            <p><a class="btn btn-default" href="{{ router.buildPath('index', 'download', {"post_id": post.getPostId()}) }}" role="button">Stáhnout PDF</a></p>
        </div>
        
        {% if loop.index is divisible by(3) %}
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}
