{% extends "skeleton.twig" %}

{% block title %}{% if post.isLoaded() %}Upravit{% else %}Přidat{% endif %} příspěvek{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post" action="{{ router.buildPath('postsAuthoring', 'save') }}" enctype="multipart/form-data">
        <fieldset>

            <legend>{% if post.isLoaded() %}Upravit{% else %}Přidat{% endif %} příspěvek</legend>
            
            {% if post.isLoaded() %}<input type="hidden" name="post_id" value="{{ post.getPostId() }}">{% endif %}
            
            <div class="form-group">
                <label class="col-md-4 control-label" >Název</label>
                <div class="col-md-4">
                    <input name="title" type="text" value="{{ post.getTitle() }}" class="form-control input-md" required="">

                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label" >Abstrakt</label>  
                <div class="col-md-4">
                    <textarea name="abstract" class="form-control" rows="5" id="comment" required="">{{ post.getAbstract() }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" >PDF soubor</label>
                <div class="col-md-4">
                    <label class="btn btn-default btn-file">Vybrat <input type="file" name="pdf" accept="application/pdf" hidden {% if not post.isLoaded() %}required=""{% endif %}></label>
                </div>
            </div>
                
            <div class="form-group">
                <label class="col-md-4 control-label" ></label>
                <div class="col-md-4">
                    <button class="btn btn-success">Uložit</button>
                </div>
            </div>

        </fieldset>
    </form>

{% endblock %}
